@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background: url('./images/background1.jpg') center/ cover no-repeat scroll;
}

.wrapper{
  background: rgba(0, 0, 0, .3);
  min-height: 650px;
}

.header{
  background: rgba(0, 0, 0, .5);
  padding: 10px 50px;
  border: none;
  color: #fff;
}

.header__row{
  display: flex;
  justify-content: space-between;
}


.form-element{
  padding: 5px;
  margin-right: 40px;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
  color: #fff;
}

.row{
  flex: 1 0 auto;
}

.icon:hover{
  opacity: 0.5;
}

.body__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form{
  flex: 0 1 400px;
  padding: 20px;
}

form{ 
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
}

.form label{
  display: block;
  margin: 10px 20px;
  font-weight: bold;
}

.form input{
  padding: 5px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  width: 90%;
  background: transparent;
  margin-left: 20px;
}

button{
  width: 90%;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  background: rgba(0, 0, 0, .8);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
}

.form button:hover{
  opacity: 0.5;
}